<!DOCTYPE html>
<html lang="en" lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Add Job Offer - Jobs</title>
    <!-- Bootstrap core CSS-->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link href="/css/sb-admin.css" rel="stylesheet">
</head>

<body class="body_bg2">
<div class="container">
    <div class="card card-register mx-auto mt-5 border_solid">
        <div class="card-header">Add Job Offer</div>
        <div class="card-body">
            <form autocomplete="off" action="#" th:action="@{/recruiter/addjob}" th:object="${jobOffer}" method="post">
                <div th:if="${error}" class="has-error text-danger" th:text="${error_message}"></div>
                <div class="form-group">
                    <label for="inputtitle" class="control-label">JobTitle</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-briefcase"></i>
                        </div>
                        <input id="inputtitle" name="inputtitle" th:field="*{title}" placeholder="Enter job title"
                               type="text" class="form-control">
                    </div>
                    <span th:if="${#fields.hasErrors('title')}"
                          th:errors="*{title}">title has error</span>
                </div>
                <div class="form-group">
                    <label for="inputcompany" class="control-label">Company Name</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-briefcase"></i>
                        </div>
                        <input id="inputcompany" name="inputcompany" th:field="*{companyName}"
                               placeholder="Enter company name" type="text" class="form-control">
                    </div>
                    <span th:if="${#fields.hasErrors('companyName')}"
                          th:errors="*{companyName}">Company name has error</span>
                </div>
                <div class="form-group">
                    <label for="text" class="control-label">Location</label>
                    <input id="text" name="text" th:field="*{location}" placeholder="Enter location" type="text"
                           class="form-control">
                    <span th:if="${#fields.hasErrors('location')}"
                          th:errors="*{location}">Location has error</span>
                </div>
                <div class="form-group">
                    <label for="inputtype" class="control-label">Type</label>
                    <select id="inputtype" name="inputtype" th:field="*{type}" class="select form-control">
                        <option th:value="FullTime">Full Time</option>
                        <option th:value="PartTime">Part Tine</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="textareadesc" class="control-label">Description</label>
                    <textarea id="textareadesc" th:field="*{description}" name="textareadesc" cols="40" rows="5"
                              class="form-control"></textarea>
                </div>
                <hr/>
                <h2>Qualifications</h2>
                <hr/>
                <div class="form-group">
                    <label for="text1" class="control-label">Education</label>
                    <input id="text1" name="text1" th:field="*{education}" placeholder="Enter education" type="text"
                           class="form-control">
                </div>
                <div class="form-group">
                    <label for="text2" class="control-label">Skill 1 (required)</label>
                    <input id="text2" name="text2" th:field="*{skill1}" placeholder="Enter first skill (required)"
                           type="text" class="form-control">
                    <span th:if="${#fields.hasErrors('skill1')}"
                          th:errors="*{skill1}">First akill has error</span>
                </div>
                <div class="form-group">
                    <label for="text3" class="control-label">Skill 2</label>
                    <input id="text3" name="text3" th:field="*{skill2}" placeholder="Enter second skill" type="text"
                           class="form-control">
                </div>
                <div class="form-group">
                    <label for="text4" class="control-label">Skill 3</label>
                    <input id="text4" name="text4" th:field="*{skill3}" placeholder="Enter third skill" type="text"
                           class="form-control">
                </div>
                <div class="form-group">
                    <label for="text5" class="control-label">Skill 4</label>
                    <input id="text5" name="text5" th:field="*{skill4}" placeholder="Enter fourth skill" type="text"
                           class="form-control">
                </div>
                <div class="form-group">
                    <label for="text6" class="control-label">Skill 5</label>
                    <input id="text6" name="text6" th:field="*{skill5}" placeholder="Enter fifth skill" type="text"
                           class="form-control">
                </div>
                <div class="form-group">
                    <button name="submit" type="submit" class="btn btn-primary btn-bloc form-control">Save Job Offer
                    </button>
                </div>
            </form>
            <div class="text-center">
                <a class="d-block medium" href="/recruiter">Return Profile</a>
            </div>
        </div>
    </div>
</div>
<!-- Bootstrap core JavaScript-->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Core plugin JavaScript-->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
</body>
</html>