<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">

<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Sign In - Jobs</title>
  <!-- Bootstrap core CSS-->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
  <!-- Custom fonts for this template-->
  <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
  <!-- Custom styles for this template-->
  <link href="/css/sb-admin.css" rel="stylesheet"/>
</head>

<body class="body_bg2">
  <div class="container">
    <div class="card card-login mx-auto mt-5 border_solid">
      <div class="card-header">Sign in</div>
      <div class="card-body">
        <form th:action="@{/login}"method="post">
          <div th:if="${param.error}" class="has-error text-danger" >Invalid username and password</div>
          <div class="form-group">
            <label for="exampleInputEmail1">Username</label>
            <input class="form-control" id="exampleInputEmail1" name="username" type="text" aria-describedby="emailHelp" placeholder="Enter username">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input class="form-control" id="exampleInputPassword1" name="password" type="password" placeholder="Password">
          </div>
          <button type="submit" class="btn btn-primary btn-block" >Sign in</button>
        </form>
        <div class="text-center">
          <a class="d-block small mt-3" href="/register">Sign up</a>
          <a class="d-block medium" href="/">Return home</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Bootstrap core JavaScript-->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- Core plugin JavaScript-->
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
</body>

</html>
