<!DOCTYPE html>
<html lang="en" lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Sign Up Jobs</title>
  <!-- Bootstrap core CSS-->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  <link href="/css/sb-admin.css" rel="stylesheet">
</head>

<body class="body_bg2">
  <div class="container">
    <div class="card card-register mx-auto mt-5 border_solid">
      <div class="card-header">Sign up</div>
      <div class="card-body">
        <form autocomplete="off" action="#" th:action="@{/register}" th:object="${user}" method="post">
          <div th:if="${error}" class="has-error text-danger" th:text="${error_message}" ></div>

          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label for="exampleInputName1">First name</label>
                <input class="form-control" id="exampleInputName1" type="text" aria-describedby="nameHelp"
                       th:field="*{firstName}" placeholder="Enter first name">
                <span th:if="${#fields.hasErrors('firstName')}"
                      th:errors="*{firstName}">First Name error</span>
              </div>
              <div class="col-md-6">
                <label for="exampleInputLastName">Last name</label>
                <input class="form-control" id="exampleInputLastName" type="text" aria-describedby="nameHelp"
                       th:field="*{lastName}" placeholder="Enter last name">
                <span th:if="${#fields.hasErrors('lastName')}"
                      th:errors="*{lastName}">Last Name error</span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail">Email</label>
            <input class="form-control" id="inputEmail" type="text"
                   th:field="*{email}"placeholder="Enter email">
            <span th:if="${#fields.hasErrors('email')}"
                  th:errors="*{email}">email error</span>
          </div>
          <div class="form-group">
            <label for="exampleInputUsername">Username</label>
            <input class="form-control" id="exampleInputUsername" type="text" aria-describedby="usernameHelp"
                   th:field="*{username}"placeholder="Enter username">
            <span th:if="${#fields.hasErrors('username')}"
                  th:errors="*{username}">Username error</span>
          </div>
          <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input class="form-control" id="exampleInputPassword1" type="password"
                       th:field="*{password}" placeholder="Password">
            <span th:if="${#fields.hasErrors('password')}"
                  th:errors="*{password}">Password error</span>
          </div>
          <div class="form-group">
           <label for="sel1">Select One:</label>
            <select class="form-control" id="sel1" th:name="role">
              <option th:value="USER">USER</option>
              <option th:value="RECRUITER">RECRUITER</option>
            </select>
          </div>
          <div class="form-group">
            <label for="inputcompany">If recruiter, add company name</label>
            <input class="form-control" id="inputcompany" type="text"
                   th:field="*{companyName}" placeholder="Enter company name">
          </div>

          <button type="submit" class="btn btn-primary btn-block" >Sign Up</button>
        </form>
        <div class="text-center">
          <a class="d-block small mt-3" href="/login">Sign in Page</a>
          <a class="d-block medium" href="/">Return home</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Bootstrap core JavaScript-->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- Core plugin JavaScript-->
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
</body>

</html>
