<!DOCTYPE html>
<html lang="en" lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Job Offer - Jobs</title>
    <!-- Bootstrap core CSS-->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link href="css/sb-admin.css" rel="stylesheet">
</head>

<body class="body_bg2">
<div class="container">
    <div class="card card-register mx-auto mt-5 border_solid">
        <div class="card-header">Job offer</div>
        <div class="card-body">
            <div class="row">
                <label class="col-md-2">Title: </label>
                <div class="col-md-10">
                    <p>Software enginner</p>
                </div>
            </div>
            <div class="row">
                <label class="col-md-2">Company: </label>
                <div class="col-md-10">
                    <p>facebook</p>
                </div>
            </div>
            <div class="row">
                <label class="col-md-2">Location: </label>
                <div class="col-md-10">
                    <p>Washington DC</p>
                </div>
            </div>
            <div class="row">
                <label class="col-md-2">Type :</label>
                <div class="col-md-10">
                    <p>Full time</p>
                </div>
            </div>
            <hr/>
            <h6><i class="fa fa-user-circle-o"></i>  Description</h6>
            <hr/>
            <div>
            <p>Design, develop, implement, test, and document embedded or distributed software applications,
                tools, systems and services. Translate functional requirements into robust, efficient,
                supportable solutions that work well within the overall system architecture.
                Participate in the full development cycle, end-to-end, from design, implementation,
                and testing to documentation, delivery and maintenance. Produce comprehensive,
                usable software documentation. Evaluate and make decisions around the
                use of new or existing software products and tools. Mentor junior development engineers. </p>
            </div>
            <hr/>
            <h6><i class="fa fa-rocket"></i>  Qualification</h6>
            <hr/>
            <div>
                Master degree.
            </div>
            <div>
                skills: java, c++, oracle
            </div>
        </div>
    </div>
</div>
            <!-- Bootstrap core JavaScript-->
            <script src="vendor/jquery/jquery.min.js"></script>
            <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
            <!-- Core plugin JavaScript-->
            <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
</body>

</html>